# **Project Background**

# **Business Understanding**

Kampanye pemasaran penjualan merupakan strategi khas untuk meningkatkan bisnis. Perusahaan menggunakan pemasaran langsung ketika menargetkan segmen pelanggan dengan menghubungi mereka untuk memenuhi tujuan tertentu. Dalam project ini, kami ingin memprediksi hasil panggilan telepon untuk menjual deposito berjangka dengan menggunakan pendekatan Data Mining. Sistem Pendukung Pengambilan Keputusan semacam ini berharga untuk membantu manajer dalam memprioritaskan dan memilih pelanggan berikutnya yang akan dihubungi selama kampanye pemasaran bank. Hal ini akan menghemat waktu, biaya kampanye dan juga dapat melakukan panggilan telepon yang lebih banyak dan lebih efektif sedangkan dari sisi client tingkat stress dan gangguan akan berkurang.

Project ini berfokus pada penargetan melalui telemarketing panggilan telepon untuk menjual deposito berjangka. Dalam kampanye, agen manusia melakukan panggilan telepon ke daftar klien untuk menjual deposit dan hasil kontaknya berupa bisa berhasil atau tidak berhasil.

# **Data Understanding**
---
## **Tentang Dataset**

Data ini merupakan hasil dari kampanye pemasaran langsung (*direct campaign*) institusi perbankan Portugis. *Direct campaign* sendiri merujuk kepada beberapa metode, salah satunya panggilan/telepon langsung (*direct call*) kepada pelanggan .

Sering kali, dibutuhkan lebih dari satu kali panggilan pada pelanggan yang sama untuk mengetahui apakah pelanggan tersebut akan berlangganan (*subscribe*) produk dari bank yang berupa deposit berjangka (*bank term deposit*).

*Goal* dari kampanye ini adalah untuk mengetahui apakah pelanggan akan mengatakan **"Ya (*yes*)"** atau **"Tidak (*no*)"** untuk produk yang ditawarkan. 

## **Informasi/Atribut Dataset**
Terdapat 17 kolom informasi data pelanggan. Berikut penjabarannya:



1.   **age:** Merupakan umur pelanggan dimana data berbentuk *numerical* atau angka.

2.   **job:** Merupakan data profesi pekerjaan pelanggan. Dalam ini ada beberapa profesi yang tersimpan, yaitu: ('admin', 'blue-collar', 'entrepreneur', 'housemaid', 'management', 'retired', 'self-employed', 'services', 'student', 'technician', 'unemployed', 'unknown')

3.   **marital:** Merupakan status pernikahan pelanggan. Data status yang tersimpan berupa: ('divorced', 'married', 'single')

4.   **education:** Merupakan data pendidikan pelanggan. Dalam hal ini: ('primary', 'secondary', 'tertiary', 'unknown')

5.   **default:** Merupakan data apakah pelanggan sudah berlangganan. Data berisi: ('no', 'yes')

6.   **balance:** Merupakan data jumlah saldo dari pelanggan dimana data berbentuk *numerical*/angka. Angka bisa berupa positif, negatif dan juga nol.

7.   **housing:** Merupakan data kepemilikan rumah. Dalam ini untuk mengetahui apakah pelanggan masih memiliki KPR. Data berisi: ('no', 'yes')

8.   **loan:** Merupakan data apakah pelanggan mempunyai pinjaman personal. Data berisi: ('no', 'yes')

9.   **contact:** Merupakan data jenis komunikasi yang digunakan saat kampanye. Data berisi: ('celluar', 'telephone', 'unknown')

10.   **day:** Merupakan hari dimana pelanggan dihubungi. Data berupa *numerical* atau angka yang dimulai dari 1 dan diakhiri 31.

11.   **month:** Merupakan bulan saat pelanggan dihubungi. Data berupa tiga huruf pertama nama bulan, yaitu ('jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec')

12.   **duration:** Merupakan lama waktu menghubungi pelanggan. Data berupa *numerical* atau angka.

13.   **campaign:** Merupakan jumlah kampanye dilakukan pada pelanggan yang sama. Data berupa *numerical* atau angka.

14.   **pdays:** Merupakan jumlah hari yang telah dilalui sejak kampanye pertama dilakukan. Data berupa *numerical* atau angka. Jika baru pertama dilakukan makan data berisi angka ('-1').

15.   **previous:** Merupakan jumlah aksi yang dilakukan dalam menghubungi pelanggan sebelum kampanye ini dilakukan. Data berupa *numerical* atau angka.

16.   **poutcome:** Merupakan hasil dari kampanye yang dilakukan. Data berisi: ('failure', 'other', 'success', 'unknown')

17.   **y:** Merupakan *Goal* dari kampanye ini.Data berisi: ('no', 'yes') 

### **Jumlah Dataset**

Terdapat 2 dataset dalam projek ini. Yaitu: 


*   test.csv yang berisi 4521 data
*   train.csv yang berisi 45211 data

test.csv merupakan data yang dipilih secara acak dari train.csv (10% dari jumlah data)

In [ ]:
import os
import pandas as pd
import numpy as np

In [ ]:
pd.read_csv('/content/test.csv')

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0     30;"unemployed";"married";"primary";"no";1787;...
1     33;"services";"married";"secondary";"no";4789;...
2     35;"management";"single";"tertiary";"no";1350;...
3     30;"management";"married";"tertiary";"no";1476...
4     59;"blue-collar";"married";"secondary";"no";0;...
...                                                 ...
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

[4521 rows x 1 columns]